<a href="../display_COMPONENTS/blocks.png" target="blank"> visualizza screen shot</a>

/*immagine sopra*/


<section class="block block--path-skewed-right color-dark">
    <div class="container">
        <h1 class="block__heading">cloud hosting for pros</h1>
        <p class="block__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate.</p>
    </div>
</section>
<section class="block container">
    <header class="block__header">
        <h1 class="block__heading">cloud hosting for pros</h1>
        <p class="block__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate.</p>
    </header>
    <div style="width: 30%;">
        <div class="card card--primary">
            <header class="card__header">
                card title
            </header>
            <div class="card__body">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla, libero vitae omnis itaque fuga
                doloribus
                expedita ipsum, placeat iure suscipit non, sunt reprehenderit deleniti fugit?
            </div>
        </div>
    </div>
</section>