<a href="../display_COMPONENTS/domain-block.png" target="blank"> visualizza screen shot</a>

/*immagine sopra*/

<section class="block container block-domain">
    <header class="block__header">
        <h2 class="block__heading">the best web hosting starting at per month</h2>
        <p class="block__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium minus,
            laudantium illo corporis ullam eligendi.</p>
    </header>
    <div class="input-group">
        <input type="text" class="input" placeholder="Enter domain name here..." />
        <button class="btn btn--accent"> <svg class="icon">
                <use xlink:href="images/sprite.svg#search"></use>
            </svg>search</button>
    </div>
    <ul class="list list--inline block-domain__price">
        <li class="list__item">.com $9.26</li>
        <li class="list__item"><span class="badge badge--secondary">.sg $7.91</span></li>
        <li class="list__item">.space $12.98</li>
        <li class="list__item">.info $14.15</li>
        <li class="list__item">.net $16.15</li>
        <li class="list__item">.xyz $15.18</li>
        <li class="list__item capitalize">more</li>
    </ul>
</section>