<a href="../display_COMPONENTS/block-showcase.png" target="blank"> visualizza screen shot</a>

/*immagine sopra*/


<section class="block block--path-skewed-right_7 color-dark block-showcase">

    <header class="block__header">
        <h2>user-friendly control panel</h2>
    </header>

    <div class="container grid grid--1x2">
        <picture class="block-showcase__img">

            <source type="image/webp" srcset="images/RESIZED/ipad@1x.webp 1x, images/RESIZED/ipad@2x.webp 2x" />
            <source type="image/png" srcset="images/RESIZED/ipad@1x.png 1x, images/RESIZED/ipad@2x.png 2x" />

            <img src="images/RESIZED/ipad.png" alt="ipad image">
        </picture>

        <ul class="">
            <li class="list">
                <div class="media">
                    <div class="media__img">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">easy start &amp; managed updates</h3>
                        <p class="media__description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aperiam labore velit
                            nihil porro
                            doloremque consequatur accusamus natus tempora quibusdam!</p>
                    </div>
                </div>
            </li>
            <li class="list">
                <div class="media">
                    <div class="media__img">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#growth"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">staging, GIT &amp; WP-CLI</h3>
                        <p class="media__description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aperiam labore velit
                            nihil porro
                            doloremque consequatur accusamus natus tempora quibusdam!</p>
                    </div>
                </div>
            </li>
            <li class="list">
                <div class="media">
                    <div class="media__img">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#wordpress"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">dinamic changing &amp; more</h3>
                        <p class="media__description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aperiam labore velit
                            nihil porro
                            doloremque consequatur accusamus natus tempora quibusdam!</p>
                    </div>
                </div>
            </li>
        </ul>



    </div>


</section>