<a href="../display_COMPONENTS/callout.png" target="blank"> visualizza screen shot</a>

/*immagine sopra*/


<div class="callout callout--primary grid grid--1x2">
    <div class="callout__content">
        <h1 class="callout__heading">ready to get started</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam est, rerum nam at aperiam ea cupiditate
            ad
            beatae dolorum repudiandae?</p>
    </div>
    <a href="#" class="btn btn--secondary btn__large">buy now</a>

</div>