<a href="../display_COMPONENTS/collapsible.png" target="blank"> visualizza screen shot</a>

/*immagine sopra*/

<div class="collapsible collapsible--expanded">
    <heading class="collapsible__header">
        <h2 class="collapsible__heading">item1</h2>
        <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </heading>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, porro?
    </div>
</div>
<script src="js/main.js"></script>