<a href="../display_COMPONENTS/hero.png" target="blank"> visualizza screen shot</a>

/*immagine sopra*/


<section class="block block--path-skewed-left color-dark hero">
    <div class="container grid grid--1x2">
        <header class="block__header hero__content">

            <h1 class="block__heading hero__header">cloud hosting for pros</h1>
            <p class="hero__tagline">deploy your website in less than 60 seconds</p>
            <div class="hero__btn">
                <a href="#" class="btn btn--accent btn--large">get started</a>
            </div>

        </header>
        <picture class="hero__banner">
            <source type="image/webp" srcset="images/RESIZED/banner@1x.webp 1x, images/RESIZED/banner@2x.webp 2x">
            <source type="image/png" srcset="images/RESIZED/banner@1x.png 1x, images/RESIZED/banner@2x.png 2x">
            <img class="hero__img" src="images/RESIZED/banner@2x.png" alt="hero image" loading="lazy">
        </picture>
    </div>
</section>