<a href="../display_COMPONENTS/media_object.png" target="blank"> visualizza screen shot</a>

/*immagine sopra*/


<div style="width: 50%; background-color: black; margin: 10rem;">
    <div class="media">
        <div class="media__img">
            <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
        </div>
        <div class="media__body">
            <h3 class="media__title">easy start &amp; managed updates</h3>
            <p class="media__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aperiam labore velit nihil porro
                doloremque consequatur accusamus natus tempora quibusdam!</p>
        </div>
    </div>
</div>