<a href="../display_COMPONENTS/plan.png" target="blank"> visualizza screen shot</a>

/*immagine sopra*/


<div style="width: 50%; padding: 5rem;">
    <div class="plan plan--popular">
        <div class="card card--primary">
            <header class="card__header">
                <div class="ribbon ribbon--popular">Popular</div>
                <h3 class="plan__name">entry</h3>
                <span class="plan__price">$14</span>
                <span class="plan__billing-cycle">/month</span>
                <span class="badge badge--primary badge--small">10% off</span>
                <span class="plan__description">easy start on the cloud</span>
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">unlimited websites</li>
                    <li class="list__item">unlimited bandwidth</li>
                    <li class="list__item">ITEM 3</li>
                </ul>
                <button class="btn btn--primary btn--block">buy now</button>
            </div>
        </div>
    </div>
</div>