<a href="../display_COMPONENTS/quotes.png" target="blank"> visualizza screen shot</a>

/*immagine sopra*/


<blockquote class="quote">
    <p class="quote__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eaque
        itaque ut suscipit quis natus vero tempora dolorum? Adipisci aperiam dolor iusto minima recusandae
        eum nulla iste repellendus eligendi aliquam.</p>
    <footer>
        <div class="media">
            <div class="media__img">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">stefano borgato</h3>
                <p class="media__description">hGears s.p.a.</p>
            </div>
        </div>
    </footer>
</blockquote>