<a href="../display_COMPONENTS/testimonial.png" target="blank"> visualizza screen shot</a>

/*immagine sopra*/


<div class="card testimonial">
    <div class="grid grid--1x2">
        <div class="testimonial__img-container">
            <img class="testimonial__img" src="images/baby_astro.jpg" alt="foto mia">

            <span class="icon-container icon-container--accent">
                <svg class="icon icon--white icon--small">
                    <use xlink:href="images/sprite.svg#quotes"></use>
                </svg>
            </span>
        </div>
        <blockquote class="quote">
            <p class="quote__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eaque
                itaque ut suscipit quis natus vero tempora dolorum? Adipisci aperiam dolor iusto minima recusandae
                eum nulla iste repellendus eligendi aliquam.</p>
            <footer>
                <div class="media">
                    <div class="media__img">
                        <svg class="icon icon--primary quote__line">
                            <use xlink:href="images/sprite.svg#line"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title quote__author">stefano borgato</h3>
                        <p class="media__description">hGears s.p.a.</p>
                    </div>
                </div>
            </footer>
        </blockquote>
    </div>
</div>